{%- block help_block -%}
    {% for attrname,attrvalue in attr %}
        {% if attrname == 'data-help' %}
            <span title="{{ attrvalue|trans }}" class="help-button">
                <i class="fa fa-question-circle"></i>
            </span>
        {% endif %}
    {% endfor %}
{%- endblock -%}

{%- block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    {{ block('help_block') }}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} />
{%- endblock form_widget_simple -%}

{%- block attribute_widget -%}
    {{ block('help_block') }}
    <div {{ block('widget_container_attributes') }}>
        {%- if form.parent is empty -%}
            {{ form_errors(form) }}
        {%- endif -%}
        <div class="attribute-row-wrapper">
            {{- block('form_rows') -}}
        </div>
        {{- form_rest(form) -}}
    </div>
{%- endblock attribute_widget -%}

{%- block attributes -%}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {%- if attrname in ['placeholder', 'title', 'data-motivation-keep-talking'] -%}
            {{- attrname }}="{{ translation_domain is same as(false) ? attrvalue : attrvalue|trans({}, translation_domain) }}"
        {%- elseif attrvalue is same as(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not same as(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{%- endblock attributes -%}

{%- block form_row -%}
    <div class="form-row{% if errors is not empty %} error {% endif %}">
        {{- form_label(form) -}}
        {{- form_errors(form) -}}
        <p class="parsley-errors"></p>
        {{- form_widget(form) -}}
    </div>
{%- endblock form_row -%}

{%- block form_widget_compound -%}
    {{ block('help_block') }}
    <div {{ block('widget_container_attributes') }}>
        {%- if form.parent is empty -%}
            {{ form_errors(form) }}
        {%- endif -%}
        {{- block('form_rows') -}}
        {{- form_rest(form) -}}
    </div>
{%- endblock form_widget_compound -%}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <ul>
            {%- for error in errors -%}
                <li class="error">{{ error.message }}</li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endblock form_errors -%}

{%- block textarea_widget -%}
    {{ block('help_block') }}
    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
{%- endblock textarea_widget -%}

{%- block checkbox_widget -%}
    {{ block('help_block') }}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{%- endblock checkbox_widget -%}

{%- block radio_widget -%}
    {{ block('help_block') }}
    <div class="input-container">
        <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    </div>
{%- endblock radio_widget -%}

{%- block datetime_widget -%}
    {{ block('help_block') }}
    {% if widget == 'single_text' %}
        {{- block('form_widget_simple') -}}
    {%- else -%}
        <div {{ block('widget_container_attributes') }}>
            {{- form_errors(form.date) -}}
            {{- form_errors(form.time) -}}
            {{- form_widget(form.date) -}}
            {{- form_widget(form.time) -}}
        </div>
    {%- endif -%}
{%- endblock datetime_widget -%}

{# The radiogroup is styled to be able to receive help popups #}
{%- block choice_widget_expanded -%}
    {{ block('help_block') }}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            <div class="radio-container">
            {{- form_widget(child) -}}
            {{- form_label(child, null, {translation_domain: choice_translation_domain, 'label_attr': {'for': child.vars.id}}) -}}
            </div>
        {% endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}

{# A collection widget is used to add multiple redirect uris #}
{%- block collection_widget -%}
    <div class="collection-widget" {{ block('widget_attributes') }} data-prototype="{{ form_widget(form.vars.prototype)|e }}">
        <ul class="collection-list">
            {%- for child in form %}
                <li class="collection-entry">
                    {{- form_widget(child,  {'attr': {'readonly': 'readonly'}}) -}}
                    <button type="button" class="button-small remove_collection_entry"><i class="fa fa-trash"></i></button>
                    {{- form_errors(child) -}}
                </li>
            {% endfor -%}
        </ul>
    </div>
{%- endblock collection_widget -%}

{# Override the form_label to enable us to output anchors in form labels. #}
{%- block form_label -%}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <label{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>{{ translation_domain is same as(false) ? label|striptags('<a>')|raw : label|trans({}, translation_domain)|striptags('<a>')|raw }}</label>
    {%- endif -%}
{%- endblock form_label -%}

{# Use a table to display the list of idp's for the entity acl's. #}
{% block acl_list_widget %}
    {% spaceless %}
        <table {{ block('widget_container_attributes') }}>
            <tr>
                <th>&nbsp;</th>
                <th>{{ 'entity.acl.name.title'|trans }}</th>
                <th>{{ 'entity.acl.entity-id.title'|trans }}</th>
            </tr>
            {% for name, choice in form.vars.choices %}
                <tr>
                    <td>{{ form_widget(form[name]) }}</td>
                    <td>{{ form_label(form[name]) }}</td>
                    <td>{{ choice.data.entityId }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endspaceless %}
{% endblock %}

{%- block number_widget -%}
    {{ block('help_block') }}
    <input type="number" {{ block('widget_attributes') }} {% if min is defined %} min="{{ min }}"{% endif %} {% if max is defined %} max="{{ max }}"{% endif %} {% if value is defined %} value="{{ value }}"{% endif %} />
{%- endblock number_widget -%}
