{%- block help_block -%}
    {% for attrname,attrvalue in attr %}
        {% if attrname == 'help' %}
            <span class="help-button">
                <i class="fa fa-question-circle"></i>
                <div class="balloon">
                    {{ attrvalue|trans|raw }}
                </div>
            </span>{% endif %}
    {% endfor %}
{%- endblock -%}

{%- block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    {{ block('help_block') }}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} />
{%- endblock form_widget_simple -%}

{%- block attribute_widget -%}
    {{ block('help_block') }}
    <div {{ block('widget_container_attributes') }}>
        {%- if form.parent is empty -%}
            {{ form_errors(form) }}
        {%- endif -%}
        <div class="attribute-row-wrapper">
            {{- block('form_rows') -}}
        </div>
        {{- form_rest(form) -}}
    </div>
{%- endblock attribute_widget -%}

{%- block form_row -%}
    <div class="form-row{% if errors is not empty %} error {% endif %}">
        {{- form_label(form) -}}
        {{- form_errors(form) -}}
        {{- form_widget(form) -}}
    </div>
{%- endblock form_row -%}

{%- block form_widget_compound -%}
    {{ block('help_block') }}
    <div {{ block('widget_container_attributes') }}>
        {%- if form.parent is empty -%}
            {{ form_errors(form) }}
        {%- endif -%}
        {{- block('form_rows') -}}
        {{- form_rest(form) -}}
    </div>
{%- endblock form_widget_compound -%}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <ul>
            {%- for error in errors -%}
                <li class="error">{{ error.message }}</li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endblock form_errors -%}

{%- block textarea_widget -%}
    {{ block('help_block') }}
    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
{%- endblock textarea_widget -%}

{%- block checkbox_widget -%}
    {{ block('help_block') }}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{%- endblock checkbox_widget -%}

{%- block datetime_widget -%}
    {{ block('help_block') }}
    {% if widget == 'single_text' %}
        {{- block('form_widget_simple') -}}
    {%- else -%}
        <div {{ block('widget_container_attributes') }}>
            {{- form_errors(form.date) -}}
            {{- form_errors(form.time) -}}
            {{- form_widget(form.date) -}}
            {{- form_widget(form.time) -}}
        </div>
    {%- endif -%}
{%- endblock datetime_widget -%}