{% extends '::base.html.twig' %}

{% block body_container %}

    <h1>{% block page_heading %}{{ 'entity.detail.title'|trans }}{% endblock %}</h1>

    <div class="fieldset card">
        <h2>{{ 'entity.detail.info.title'|trans }}</h2>
        <div class="wysiwyg">{{ 'entity.detail.info.html'|trans|raw }}</div>
    </div>

    <div class="fieldset card">
        <h2>{{ 'entity.detail.metadata.title'|trans }}</h2>
        <div class="wysiwyg">{{ 'entity.detail.metadata.html'|trans|raw }}</div>

        {% include '@Dashboard/EntityDetail/detailTextField.html.twig' with {'label': 'entity.detail.metadata.metadata_url'|trans, 'value': entity.metadataUrl} %}
        {% include '@Dashboard/EntityDetail/detailTextField.html.twig' with {'label': 'entity.detail.metadata.acs_location'|trans, 'value': entity.acsLocation} %}
        {% include '@Dashboard/EntityDetail/detailTextField.html.twig' with {'label': 'entity.detail.metadata.entity_id'|trans, 'value': entity.entityId} %}
        {% include '@Dashboard/EntityDetail/detailTextField.html.twig' with {'label': 'entity.detail.metadata.name_id_format'|trans, 'value': entity.nameIdFormat} %}
        {% include '@Dashboard/EntityDetail/detailFormattedField.html.twig' with {'label': 'entity.detail.metadata.certificate'|trans, 'value': entity.certificate} %}
        {% include '@Dashboard/EntityDetail/detailTextField.html.twig' with {'label': 'entity.detail.metadata.logo_url'|trans, 'value': entity.logoUrl} %}
        {% include '@Dashboard/EntityDetail/detailTextField.html.twig' with {'label': 'entity.detail.metadata.name_nl'|trans, 'value': entity.nameNl} %}
        {% include '@Dashboard/EntityDetail/detailTextField.html.twig' with {'label': 'entity.detail.metadata.description_nl'|trans, 'value': entity.descriptionNl} %}
        {% include '@Dashboard/EntityDetail/detailTextField.html.twig' with {'label': 'entity.detail.metadata.name_en'|trans, 'value': entity.nameEn} %}
        {% include '@Dashboard/EntityDetail/detailTextField.html.twig' with {'label': 'entity.detail.metadata.description_en'|trans, 'value': entity.descriptionEn} %}
        {% include '@Dashboard/EntityDetail/detailTextField.html.twig' with {'label': 'entity.detail.metadata.application_url'|trans, 'value': entity.applicationUrl} %}
        {% include '@Dashboard/EntityDetail/detailTextField.html.twig' with {'label': 'entity.detail.metadata.eula_url'|trans, 'value': entity.eulaUrl} %}

    </div>

    <div class="fieldset card">
        <h2>{{ 'entity.detail.contact.title'|trans }}</h2>
        <div class="wysiwyg">{{ 'entity.detail.contact.html'|trans|raw }}</div>

        {% include '@Dashboard/EntityDetail/detailContactField.html.twig' with {'label': 'entity.detail.contact.administrative'|trans, 'value': entity.administrativeContact} %}
        {% include '@Dashboard/EntityDetail/detailContactField.html.twig' with {'label': 'entity.detail.contact.technical'|trans, 'value': entity.technicalContact} %}
        {% include '@Dashboard/EntityDetail/detailContactField.html.twig' with {'label': 'entity.detail.contact.support'|trans, 'value': entity.supportContact} %}

    </div>

    <div class="fieldset card">
        <h2>{{ 'entity.detail.attribute.title'|trans }}</h2>
        <div class="wysiwyg">{{ 'entity.detail.attribute.html'|trans|raw }}</div>

        {% include '@Dashboard/EntityDetail/detailAttributeField.html.twig' with {'label': 'entity.detail.attribute.given_name'|trans, 'value': entity.givenNameAttribute} %}
        {% include '@Dashboard/EntityDetail/detailAttributeField.html.twig' with {'label': 'entity.detail.attribute.surname'|trans, 'value': entity.surNameAttribute} %}
        {% include '@Dashboard/EntityDetail/detailAttributeField.html.twig' with {'label': 'entity.detail.attribute.common_name'|trans, 'value': entity.commonNameAttribute} %}
        {% include '@Dashboard/EntityDetail/detailAttributeField.html.twig' with {'label': 'entity.detail.attribute.display_name'|trans, 'value': entity.displayNameAttribute} %}
        {% include '@Dashboard/EntityDetail/detailAttributeField.html.twig' with {'label': 'entity.detail.attribute.email_address'|trans, 'value': entity.emailAddressAttribute} %}
        {% include '@Dashboard/EntityDetail/detailAttributeField.html.twig' with {'label': 'entity.detail.attribute.organization'|trans, 'value': entity.organizationAttribute} %}
        {% include '@Dashboard/EntityDetail/detailAttributeField.html.twig' with {'label': 'entity.detail.attribute.organization_type'|trans, 'value': entity.organizationTypeAttribute} %}
        {% include '@Dashboard/EntityDetail/detailAttributeField.html.twig' with {'label': 'entity.detail.attribute.affiliation'|trans, 'value': entity.affiliationAttribute} %}
        {% include '@Dashboard/EntityDetail/detailAttributeField.html.twig' with {'label': 'entity.detail.attribute.entitlement'|trans, 'value': entity.entitlementAttribute} %}
        {% include '@Dashboard/EntityDetail/detailAttributeField.html.twig' with {'label': 'entity.detail.attribute.principle_name'|trans, 'value': entity.principleNameAttribute} %}
        {% include '@Dashboard/EntityDetail/detailAttributeField.html.twig' with {'label': 'entity.detail.attribute.uid'|trans, 'value': entity.uidAttribute} %}
        {% include '@Dashboard/EntityDetail/detailAttributeField.html.twig' with {'label': 'entity.detail.attribute.prefered_language'|trans, 'value': entity.preferredLanguageAttribute} %}
        {% include '@Dashboard/EntityDetail/detailAttributeField.html.twig' with {'label': 'entity.detail.attribute.personal_code'|trans, 'value': entity.personalCodeAttribute} %}
        {% include '@Dashboard/EntityDetail/detailAttributeField.html.twig' with {'label': 'entity.detail.attribute.scoped_affiliation'|trans, 'value': entity.scopedAffiliationAttribute} %}
        {% include '@Dashboard/EntityDetail/detailAttributeField.html.twig' with {'label': 'entity.detail.attribute.edu_person_targetted_id'|trans, 'value': entity.eduPersonTargetedIDAttribute} %}

    </div>

{% endblock %}