{% if value is not empty %}
<h3 class="entity-detail-h3">{{ label }}</h3>
<div class="container contact">
    {% if value.givenName is not empty %}
    <div class="detail">
        {% if informationPopup is defined %}
            <span data-tippy-content="{{ informationPopup|trans }}" class="help-button">
                <i class="fa fa-question-circle"></i>
            </span>
        {% endif %}
        <label>{{ 'entity.detail.contact.first_name'|trans }}</label>
        <span>{{ value.givenName }}</span>
    </div>
    {% endif %}
    {% if value.surName is not empty %}
    <div class="detail">
        <label>{{ 'entity.detail.contact.last_name'|trans }}</label>
        <span>{{ value.surName }}</span>
    </div>
    {% endif %}
    {% if value.email is not empty %}
    <div class="detail">
        <label>{{ 'entity.detail.contact.email'|trans }}</label>
        <span>{{ value.email }}</span>
    </div>
    {% endif %}
    {% if value.phone is not empty %}
    <div class="detail">
        <label>{{ 'entity.detail.contact.phone'|trans }}</label>
        <span>{{ value.phone }}</span>
    </div>
    {% endif %}
</div>
{% endif %}
