{% extends 'base.html.twig' %}

{% set columnCount = testIdps|length + 2 %}

{% block body_container %}
    <main>
        {% include "@Dashboard/FlashMessage/flashMessages.html.twig" %}

        <h1 id="main" class="service-title">
            {{ 'service.connections.title.main'|trans }}
        </h1>
        <article class="fieldset card service-connections">
            <aside class="filters">
                <div class="header"><h2>{{ 'service.connections.title.filters'|trans }}</h2></div>
                <div>
                    <div class="totals">Todo</div>
                </div>
            </aside>
            <div class="sps">
                <div class="header"><h2>{{ 'service.connections.title.content'|trans }}</h2></div><div>
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Vendor</th>
                            {% for idp in  testIdps %}
                                <th scope="col" class="idp" title="{{ idp.entityId }}">{{ idp.name }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>

                    {% if entities is empty %}
                        <tr>
                            <td colspan="{{ columnCount }}">{{ 'service.connections.table.no-results'|trans }}</td>
                        </tr>
                    {% else %}
                    {% for sp in  entities %}
                    <tr>
                        <td class="name">{{ sp.entityName }}</td>
                        <td class="vendor">{{ sp.vendorName }}</td>
                            {% for connected in  sp.listConnected %}
                            <td class="idp"><i class="fa fa-{{ (connected ? 'check' : 'times')|trans }} {{ (not connected) ? 'not-' : '' }}connected"><span class="hidden">{{ (connected ? 'service.connections.connected' : 'service.connections.not-connected')|trans }}</span></i></td>
                            {% endfor %}
                    </tr>
                    {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </article>
    </main>
{% endblock %}
