<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Service Provider dashboard | SURFconext{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/global.css') }}">
        {% endblock %}
    </head>
    <body>
        <div class="flash hide undefined">
            <div class="message-container">
                <p></p>
                <a class="close"><i class="fa fa-remove"></i></a>
            </div>
        </div>
        <div class="header-container">
            <div class="header">
                <a class="logo" href="/">
                    <img src="/images/surfconext-logo.png" alt="SURFconext" />
                </a>
                <ul class="links">
                    <li class="title">
                        <span>SP dashboard</span>
                    </li>
                    <li class="profile" tabindex="1">
                        {{ identity() }}
                    </li>
                    <li class="border-left">
                        <a href="{{ 'page.header.help_link'|trans }}" target="_blank">{{ 'page.header.help'|trans }}</a>
                    </li>
                    <li class="border-left"><a href={{ path('logout') }}>{{ 'page.header.logout'|trans }}</a></li>
                    <li class="service-switcher">
                        {{ service_switcher() }}
                    </li>
                </ul>
            </div>
        </div>
        <div class="navigation-container">
            <div class="navigation">
                {{ knp_menu_render('main') }}
            </div>
        </div>
        <div class="page-container">
            {{ render(controller('DashboardBundle:SiteNotice:showGlobalSiteNotice')) }}

            {% block body_container %}
                <h1>{% block page_heading %}{% endblock %}</h1>
                <div class="card">
                    {% block body %}{% endblock %}
                </div>
            {% endblock %}
        </div>
        <footer class="footer">
            <div class="footer-inner">
                <span><a href="{{ 'page.footer.privacy_link'|trans }}" target="_blank">{{ 'page.footer.privacy'|trans }}</a></span>
                <span><a href="{{ 'page.footer.contact_link'|trans }}" target="_blank">{{ 'page.footer.contact'|trans }}</a></span>
            </div>
        </footer>
        {% block javascripts %}
            <script src="{{ asset('build/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
