{% form_theme form 'form/fields.html.twig' %}

{% extends '::base.html.twig' %}

{% block page_heading %}{{ 'entity.delete.title'|trans }}{%endblock%}

{% block body %}
    {% if environment != 'production' and status != 'published' %}
        <p>{{ 'entity.delete.draft.confirmation'|trans({ '%name%': entityName, '%status%': status }) }}</p>
    {% else %}
        <p>{{ 'entity.delete.request.confirmation'|trans({ '%name%': entityName }) }}</p>
    {% endif %}
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

        <div class="button-wrapper">
            {{ form_end(form) }}
        </div>
{% endblock %}
