{% extends '::base.html.twig' %}

{% block page_heading %}
    {% if not serviceName %}
        {{ 'entity.list.title_no_service_selected'|trans }}
    {% else %}
        {{ 'entity.list.title'|trans({'%serviceName%': serviceName }) }}
    {% endif %}
{%endblock%}

{% block body %}
    {% if not no_service_selected %}
    <div class="add-entity-actions">
        <a href="#add-for-test" rel="modal:open">
            <i class="fa fa-plus"></i>
            {{ 'entity.list.add_to_test'|trans}}
        </a>
        {% if production_entities_enabled %}
            <a href="#add-for-production" rel="modal:open">
                <i class="fa fa-plus"></i>
                {{ 'entity.list.add_to_production'|trans}}
            </a>
        {% endif %}
    </div>
    {% endif %}

    {% for type, messages in app.session.flashbag.all %}
        {% for message in messages %}
            <div class="message {{ type }}">{{ message|trans }}</div>
        {% endfor %}
    {% endfor %}

    {% if no_service_selected %}
        {{ 'entity.list.no_service_selected'|trans }}
    {% elseif entity_list.entities is empty %}
        {{ 'entity.list.empty'|trans }}
    {% else %}

    <table>
        <thead>
            <tr>
                <th>{{ 'entity.list.name'|trans }}</th>
                <th>{{ 'entity.list.entity_id'|trans }}</th>
                <th>{{ 'entity.list.primary_contact'|trans }}</th>
                <th>{{ 'entity.list.protocol'|trans }}</th>
                <th>{{ 'entity.list.state'|trans }}</th>
                <th>{{ 'entity.list.environment'|trans }}</th>
                <th>{{ ''|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entity_list.entities %}
            <tr>
                <td>{{ entity.name }}</td>
                <td>{{ entity.entityId }}</td>
                <td>{{ entity.contact }}</td>
                <td>{{ entity.protocol }}</td>
                <td>{{ entity.state }}</td>
                <td>{{ entity.environment }}</td>
                <td>
                    <div class="actions">
                        <a class="opener" href="#">
                            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </a>

                        {% include '@Dashboard/EntityActions/actionsForList.html.twig' with {entity: entity.actions} %}

                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    <div class="modal" id="add-for-test">
        {{ render(controller('DashboardBundle:EntityCreate:type', {targetEnvironment: "test"})) }}
    </div>

    <div class="modal" id="add-for-production">
        {{ render(controller('DashboardBundle:EntityCreate:type', {targetEnvironment: "production"})) }}
    </div>

{% endblock %}
