{% extends '::base.html.twig' %}

{% block page_heading %}
    {% if not serviceName %}
        {{ 'entity.list.title_no_service_selected'|trans }}
    {% else %}
        {{ 'entity.list.title'|trans({'%serviceName%': serviceName }) }}
    {% endif %}
{%endblock%}

{% block body %}
    {% if not no_service_selected %}
    <div class="add-entity-actions">
        <a href="{{ path('entity_add') }}">
            <i class="fa fa-plus"></i>
            {{ 'entity.list.add_to_test'|trans}}
        </a>
        {% if production_entities_enabled %}
            <a href="{{ path('entity_add', {environment: "production"}) }}">
                <i class="fa fa-plus"></i>
                {{ 'entity.list.add_to_production'|trans}}
            </a>
        {% endif %}
    </div>
    {% endif %}

    {% if no_service_selected %}
        {{ 'entity.list.no_service_selected'|trans }}
    {% elseif entity_list.entities is empty %}
        {{ 'entity.list.empty'|trans }}
    {% else %}

    <table>
        <thead>
            <tr>
                <th>{{ 'entity.list.name'|trans }}</th>
                <th>{{ 'entity.list.entity_id'|trans }}</th>
                <th>{{ 'entity.list.primary_contact'|trans }}</th>
                <th>{{ 'entity.list.state'|trans }}</th>
                <th>{{ 'entity.list.environment'|trans }}</th>
                <th>{{ ''|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entity_list.entities %}
            <tr>
                <td>{{ entity.name }}</td>
                <td>{{ entity.entityId }}</td>
                <td>{{ entity.contact }}</td>
                <td>{{ entity.state }}</td>
                <td>{{ entity.environment }}</td>
                <td>
                    <div class="actions">
                        <a class="opener" href="#">
                            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </a>
                        <ul>
                            <li>
                                {% if entity.allowEditAction %}
                                    <a href="{{ path('entity_copy', {manageId: entity.id}) }}">
                                        <i class="fa fa-pencil-square" aria-hidden="true"></i>
                                        {{ 'entity.list.action.edit'|trans }}
                                    </a>
                                {% else %}
                                    <a href="{{ path('entity_edit', {id: entity.id}) }}">
                                        <i class="fa fa-pencil-square" aria-hidden="true"></i>
                                        {{ 'entity.list.action.edit'|trans }}
                                    </a>
                                {% endif %}
                            </li>
                            {% if entity.state != 'published' %}
                            <li>
                                <a href="{{ path('entity_delete', {id: entity.id}) }}">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                    {{ 'entity.list.action.delete'|trans }}
                                </a>
                            </li>
                            {% endif %}
                            {% if entity.state == 'published' and entity.environment == 'test' %}
                            <li>
                                <a href="{{ path('entity_copy', {manageId: entity.id, environment: 'production'}) }}">
                                    <i class="fa fa-copy" aria-hidden="true"></i>
                                    {{ 'entity.list.action.copy_to_production'|trans }}
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

{% endblock %}
