<div class="blocker">
    <aside class="modal teams__inviteMemberModal" role="dialog" id="invite-member-popup" data-for="invite-member">
        <h3 id="invite_team_member_modal_title" class="modal__header">{{ 'team.management.invite.modal.title'|trans }}</h3>
        <div class="modal-container">
            <form id="invite_team_member_modal" class="card" method="post" action="{{ path('team_send_invite', { 'serviceId': serviceId, 'teamId': teamId }) }}" aria-labelledby="invite_team_member_modal_title">
                <div class="form__row">
                    <label for="email">{{ "teams.management.invite.modal.email.label"|trans }}</label>
                    <input type="text" name="email" id="email" />
                </div>
                <div class="form__row">
                    {% include "@Dashboard/Teams/Table/role.html.twig" with {
                        labelClass: "teams__modalSelectLabel",
                        labelText: "teams.management.invite.modal.role.label"|trans
                    }%}
                </div>
                <div class="form__row hidden">
                    <label for="role">{{ "teams.management.invite.modal.role.label"|trans }}</label>
                    <input type="hidden" name="role" id="role_hidden" value="admin" />
                </div>
                <div class="button-row">
                    <label class="button" rel="modal:close" for="invite-member">{{ 'team.management.invite.modal.cancel'|trans }}</label>
                    <button class="button blue" type="submit">{{ 'team.management.invite.modal.submit'|trans }}</button>
                </div>
            </form>
        </div>
    </aside>
</div>
