{% form_theme form 'form/fields.html.twig' %}

{% extends 'base.html.twig' %}

{% block body_container %}
    <h1>{% block page_heading %}{{ 'entity.idps.title'|trans }}{%endblock%}</h1>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'data-parsley-validate': ''}}) }}

    <div class="fieldset card">

        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="message {{ type }}">{{ message|trans }}</div>
            {% endfor %}
        {% endfor %}

        {% for error in form.vars.errors %}
            <div class="message error">{{ error.message|trans }}</div>
        {% endfor %}

        <h2>{{ ('entity.idps.info.title')|trans }}</h2>
        <div class="wysiwyg">{{ ('entity.idps.info.html')|trans|wysiwyg }}</div>
    </div>

    <div class="fieldset card">
        <h2>
            {{ 'entity.idps.test-idps.title'|trans }}
        </h2>

        <p>{{ 'entity.idps.test-idps.html'|trans|wysiwyg }}</p>

        <div class="idps-container">
            {{ form_widget(form.testEntities) }}
        </div>

    </div>

    <div class="fieldset card">
        <h2>
            {{ 'entity.idps.institution-idps.title'|trans }}
        </h2>

        <p>{{ 'entity.idps.institution-idps.html'|trans|wysiwyg }}</p>

        <div class="idps-container">
            {{ form_widget(form.institutionEntities) }}
        </div>

        <div class="button-wrapper">
            {{ form_end(form) }}
        </div>
    </div>


{% endblock %}
