{% form_theme form 'form/fields.html.twig' %}

{% extends 'base.html.twig' %}

{% block body_container %}
    <h1>{% block page_heading %}{{ 'privacy.edit.title'|trans }}{%endblock%}</h1>

    <div class="fieldset card">

        {% for message in app.flashes('error') %}
            <div class="message error">
                {{ message|trans }}
            </div>
        {% endfor %}

        {% for message in app.flashes('notice') %}
            <div class="flashMessage info">
                {{ message|trans }}
            </div>
        {% endfor %}

        <div class="wysiwyg">{{ 'privacy.edit.introduction.html'|trans|wysiwyg }}</div>
    </div>

    <div class="fieldset card">
        {{ form(form, {'attr': {'novalidate': 'novalidate', 'data-parsley-validate': ''}}) }}
    </div>

{% endblock %}