{% extends '::base.html.twig' %}

{% block body %}

    <h2>Edit a Supplier</h2>

    {% for message in app.flashes('error') %}
        <div class="message error">
            {{ message }}
        </div>
    {% endfor %}


    {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
