{% form_theme form 'form/fields.html.twig' %}

{% extends '::base.html.twig' %}

{% block body_container %}
    <h1>{% block page_heading %}{{ 'entity.acl.title'|trans }}{%endblock%}</h1>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'data-parsley-validate': ''}}) }}

    <div class="fieldset card action">
        {% include '@Dashboard/EntityActions/actionsForDetail.html.twig' with {entity: entity.actions} %}
    </div>

    <div class="fieldset card">

        {% for type, messages in app.session.flashbag.all %}
            {% for message in messages %}
                <div class="message {{ type }}">{{ message|trans }}</div>
            {% endfor %}
        {% endfor %}

        {{ form_errors(form) }}

        <h2>{{ ('entity.acl.info.title')|trans }}</h2>
        <div class="wysiwyg">{{ ('entity.acl.info.html')|trans|wysiwyg }}</div>
    </div>

    <div class="fieldset card">
        <h2>
            {{ 'entity.acl.select-all.title'|trans }}
            {{ form_widget(form.selectAll) }}
        </h2>

        <div id="acl-container" class="hidden">
            {{ form_widget(form.selected) }}
        </div>

    </div>

    <div class="button-wrapper">
        {{ form_end(form) }}
    </div>


{% endblock %}