<section class="service-status-entities-privacy-notification notification-critical">
    <h{{ hlvl }} class="privacy-notification-title">{{ 'service.overview.privacy.notification.title'|trans }}</h{{ hlvl }}>
    <p class="privacy-notification-message">{{ 'service.overview.privacy.notification.message'|trans }}<a class="privacy-notification-link link contrast" href="{{ path('privacy_questions', {'serviceId': service.id}) }}">{{ 'service.overview.privacy.notification.link'|trans }}.</a></p>
</section>
