{% form_theme form 'form/fields.html.twig' %}

{% extends '::base.html.twig' %}

{% block body_container %}
    <h1>{% block page_heading %}{{ 'entity.edit.title'|trans }}{%endblock%}</h1>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'data-parsley-validate': ''}}) }}

    <div class="fieldset card">

        {% for type, messages in app.session.flashbag.all %}
            {% for message in messages %}
                <div class="message {{ type }}">{{ message|trans }}</div>
            {% endfor %}
        {% endfor %}

        {{ form_errors(form) }}

        <h2>{{ 'entity.edit.info.title'|trans }}</h2>
        <div class="wysiwyg">{{ 'entity.edit.info.html'|trans|raw }}</div>
    </div>

    <div class="fieldset card">
        <h2>{{ 'entity.edit.metadata.title'|trans }}</h2>
        <div class="wysiwyg">{{ 'entity.edit.metadata.html'|trans|raw }}</div>
        {{ form_widget(form.metadata) }}
    </div>

    <div class="fieldset card contact">
        <h2>{{ 'entity.edit.contact_information.title'|trans }}</h2>
        <div class="wysiwyg">{{ 'entity.edit.contact_information.html'|trans|raw }}</div>
        {{ form_widget(form.contactInformation) }}
    </div>

    <div class="fieldset card">
        <h2>{{ 'entity.edit.attributes.title'|trans }}</h2>
        <div class="wysiwyg">{{ 'entity.edit.attributes.html'|trans|raw }}</div>
        {{ form_widget(form.attributes) }}
    </div>

    <div class="fieldset card">
        <h2>{{ 'entity.edit.comments.title'|trans }}</h2>
        <div class="wysiwyg">{{ 'entity.edit.comments.html'|trans|raw }}</div>
        {{ form_widget(form.comments) }}
    </div>

    <div class="button-wrapper">
        {{ form_end(form) }}
    </div>

{% endblock %}
