{% form_theme form 'form/fields.html.twig' %}

{% extends '::base.html.twig' %}

{% block body_container %}
    <h1>{% block page_heading %}{{ 'service.edit.title'|trans }}{%endblock%}</h1>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

    <div class="fieldset card">
        <h3>{{ 'service.edit.info.title'|trans }}</h3>
        <div>{{ 'service.edit.info.html'|trans|raw }}</div>
    </div>

    <div class="fieldset card">
        <h3>{{ 'service.edit.general.title'|trans }}</h3>
        <div>{{ 'service.edit.general.html'|trans|raw }}</div>
        {{ form_widget(form.general) }}
    </div>

    <div class="fieldset card">
        <h3>{{ 'service.edit.metadata.title'|trans }}</h3>
        <div>{{ 'service.edit.metadata.html'|trans|raw }}</div>
        {{ form_widget(form.metadata) }}
    </div>

    <div class="fieldset card">
        <h3>{{ 'service.edit.contact_information.title'|trans }}</h3>
        <div>{{ 'service.edit.contact_information.html'|trans|raw }}</div>
        {{ form_widget(form.contactInformation) }}
    </div>

    <div class="fieldset card">
        <h3>{{ 'service.edit.attributes.title'|trans }}</h3>
        <div>{{ 'service.edit.attributes.html'|trans|raw }}</div>
        {{ form_widget(form.attributes) }}
    </div>

    <div class="fieldset card">
        <h3>{{ 'service.edit.comments.title'|trans }}</h3>
        <div>{{ 'service.edit.comments.html'|trans|raw }}</div>
        {{ form_widget(form.comments) }}
    </div>

    <div class="button-wrapper">
        {{ form_end(form) }}
    </div>

{% endblock %}
