{% extends '::base.html.twig' %}

{% block body_container %}
    {% for service in services %}
        <h1>{% block page_heading %}{{ 'service.overview.title'|trans({'%name%': service.name }) }}{% endblock %}</h1>

        <nav class="fieldset card action">
            <ul>
                {% if service.arePrivacyQuestionsEnabled %}
                <li>
                    <a href="{{ path('privacy_questions', {'serviceId': service.id}) }}">
                        <i class="fa fa-key" aria-hidden="true"></i>
                        {{ 'service.overview.action.privacyQuestions'|trans }}
                    </a>
                </li>
                {% endif %}

                {% if isAdmin %}
                <li>
                    <a href="{{ path('service_edit', {'serviceId': service.id}) }}">
                        <i class="fa fa-pencil-square" aria-hidden="true"></i>
                        {{ 'service.overview.action.serviceEdit'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('service_delete', {'serviceId': service.id}) }}">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        {{ 'service.overview.action.serviceDelete'|trans }}
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>

        <article class="fieldset card">
            {% set shortName = service.name|replace(' ', '-') %}
            {% set testId = "add-for-test-" ~ shortName %}
            {% set productionId = "add-for-production-" ~ shortName %}
            <input type="checkbox" id="{{ testId }}" name="{{ testId }}" />
            <input type="checkbox" id="{{ productionId }}" name="{{ productionId }}" />
            <div class="service-status-container">
                <h2 class="service-status-title">
                    <a href="{{ path('entity_list', {serviceId: service.id }) }}">{{ service.name }}</a>
                </h2>
                <section class="service-status-graph" data-service-id="{{ service.id }}"></section>
                <section class="service-status-entities">
                    <h3 class="service-status-section-title">{{ 'service.overview.entitylist.title'|trans({'%name%': service.name}) }}</h3>

                    {# Production entities #}
                    <table class="service-status-entities-table">
                        <caption>{% spaceless %}
                            <h4 class="service-status-entities-table-title">
                                {{ 'service.overview.entitylist.production.title'|trans }}
                                <label for="{{ productionId }}" class="button blue">
                                    <i class="fa fa-plus"></i>
                                    {{ 'entity.list.add_to_production'|trans}}
                                </label>
                            </h4>
                        {% endspaceless %}</caption>
                        <tr>
                            <th>{{ 'service.overview.entitylist.name'|trans }}</th>
                            <th>{{ 'service.overview.entitylist.entityId'|trans }}</th>
                            <th>{{ 'service.overview.entitylist.protocol'|trans }}</th>
                            <th>{{ 'service.overview.entitylist.state'|trans }}</th>
                            <th>{{ ''|trans }}</th>
                        </tr>
                        {% set hasEntities = false %}
                        {% for entity in service.entityList %}
                            {% if entity.environment == 'production' %}
                                {% set hasEntities = true %}
                                <tr>
                                    <td><a href="{{ entity.link }}">{{ entity.name }}</a></td>
                                    <td>{{ entity.entityId }}</td>
                                    <td>{{ entity.protocol }}</td>
                                    <td>{{ entity.state }}</td>
                                    <td class="actions">
                                        <div tabindex="0">
                                            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                            <i class="fa fa-caret-down" aria-hidden="true"></i>

                                            {% include '@Dashboard/EntityActions/actionsForList.html.twig' with {entity: entity.actions} %}
                                        </div>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        {% if hasEntities == false %}
                            <tr>
                                <td colspan="4">{{ 'service.overview.entitylist.empty'|trans }}</td>
                            </tr>
                        {% endif %}
                    </table>

                    {# Test entities #}
                    <table class="service-status-entities-table">
                        <caption>{% spaceless %}
                            <h4 class="service-status-entities-table-title">
                                {{ 'service.overview.entitylist.test.title'|trans }}
                                <label for="{{ testId }}" class="button blue">
                                    <i class="fa fa-plus"></i>
                                    {{ 'entity.list.add_to_test'|trans}}
                                </label>
                            </h4>
                        {% endspaceless %}</caption>
                        <tr>
                            <th>{{ 'service.overview.entitylist.name'|trans }}</th>
                            <th>{{ 'service.overview.entitylist.entityId'|trans }}</th>
                            <th>{{ 'service.overview.entitylist.protocol'|trans }}</th>
                            <th>{{ 'service.overview.entitylist.state'|trans }}</th>
                            <th>{{ ''|trans }}</th>
                        </tr>
                        {% set hasEntities = false %}
                        {% for entity in service.entityList %}
                            {% if entity.environment == 'test' %}
                                {% set hasEntities = true %}
                                <tr>
                                    <td><a href="{{ entity.link }}">{{ entity.name }}</a></td>
                                    <td>{{ entity.entityId }}</td>
                                    <td>{{ entity.protocol }}</td>
                                    <td>{{ entity.state }}</td>
                                    <td class="actions">
                                        <div tabindex="0">
                                            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                            <i class="fa fa-caret-down" aria-hidden="true"></i>

                                            {% include '@Dashboard/EntityActions/actionsForList.html.twig' with {entity: entity.actions} %}
                                        </div>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        {% if hasEntities == false %}
                            <tr>
                                <td colspan="4">{{ 'service.overview.entitylist.empty'|trans }}</td>
                            </tr>
                        {% endif %}
                    </table>
                </section>
            </div>
            <div class="blocker">
                <div class="modal" role="dialog" aria-labelledby="" aria-describedby="" data-for="{{ productionId }}">{{ render(controller('DashboardBundle:EntityCreate:type', {serviceId: service.id, targetEnvironment: "production"})) }}</div>
                <div class="modal" role="dialog" aria-labelledby="" aria-describedby="" data-for="{{ testId }}">{{ render(controller('DashboardBundle:EntityCreate:type', {serviceId: service.id, targetEnvironment: "test"})) }}</div>
            </div>
        </article>
    {% endfor %}
{% endblock %}
