{% extends '::base.html.twig' %}

{% block page_heading %}{{ 'saml_authn_failed.title'|trans }}{% endblock %}

{% block body %}
    <h2>{{ block('page_title') }}</h2>

    <p>{{ 'saml_authn_failed.text.authn_failed'|trans }}</p>
    <a class="btn btn-primary" href="{{ path('entity_list') }}">
        {{ 'saml_authn_failed.button.try_again'|trans }}
    </a>
{% endblock %}
