{# in case of being called for the member overview table (not needed for the invite modal so we set it to '' in that case #}
{% if user.person is defined %}
    {% set userRole = user.role|lower %}
{% elseif user.intendedRole is defined %}
    {% set userRole = user.intendedRole|lower %}
{% else %}
    {% set userRole = '' %}
{% endif %}
{% set whitespaceBefore %}
    &nbsp;
{% endset %}
{% set iconAfter %}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#xf0d7;
{% endset %}
{% if user is defined %}
    {% set url = path('team_change_role', {'memberId': user.id, 'newRole': 'stand-in' }) %}
{% endif %}

<label for="role-select"{% if labelClass is defined %} class={{ labelClass }}{% endif %}>{% if labelText is defined %}{{ labelText }}{% endif %}</label>
<select id="role-select" class="teams__select"{% if url is defined %} data-url="{{ url }}"{% endif %}{% if isInvite is defined and isInvite %} disabled {% endif %}>
    <option class="fontawesome" data-icon="fa-star" value="admin" {% if userRole == 'admin' %}selected{% endif %}>
        &#xf005;{{ whitespaceBefore }}
        {{ 'teams.management.table.role.admin'|trans }}
        &nbsp;&nbsp;&nbsp;{{ iconAfter }}
    </option>
    <option class="fontawesome" data-icon="fa-universal-access" value="owner" {% if userRole == 'owner' %}selected{% endif %}>
        &#xf29a;{{ whitespaceBefore }}
        {{ 'teams.management.table.role.owner'|trans }}
        &nbsp;&nbsp;&nbsp;{{ iconAfter }}
    </option>
    <option class="fontawesome" data-icon="fa-black-tie" value="manager" {% if userRole == 'manager' %}selected{% endif %}>
        &#xf27e;{{ whitespaceBefore }}
        {{ 'teams.management.table.role.manager'|trans }}
        {{ iconAfter }}
    </option>
    <option class="fontawesome" data-icon="fa-user" value="member" {% if userRole == 'member' %}selected{% endif %}>
        &#xf007;{{ whitespaceBefore }}
        {{ 'teams.management.table.role.member'|trans }}
        &nbsp;{{ iconAfter }}
    </option>
</select>
<div class="loading fa fa-spinner fa-spin"></div>
