<td class="actions teams__actions">
    <div tabindex="0">
        <span class="pull-left">{{ 'teams.management.table.actions.choose'|trans }}</span>
        <i class="fa fa-spinner fa-spin loading"></i>
        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
        <i class="fa fa-caret-down" aria-hidden="true"></i>
        <ul>
            {% if isInvite %}
                <li class="teams__actionItem">
                    {# note: the user.id here is actually the invite id due to the way the user array is constituted in the QueryClient #}
                    <a
                        class="teams__resendInviteLink"
                        data-email="{{ user.email }}"
                        href="{{ path('team_resend_invite', {'serviceId': serviceId, 'invitationId': user.id }) }}"
                    >
                        <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                        {{ 'teams.management.table.actions.resend.invite'|trans }}
                    </a>
                </li>
            {% endif %}
            {% if not isInvite %}
                <li class="teams__actionItem">
                    <a
                        class="teams__deleteMemberLink"
                        data-name="{% if user.person is defined %}{{ user.person.name }}{% else %}{{ user.email }}{% endif %}"
                        href="{{ path('team_delete_member', {'memberId': user.id }) }}"
                    >
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                        {{ 'teams.management.table.actions.delete.membership'|trans }}
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</td>
