{# in case of being called for the member overview table (not needed for the invite modal so we set it to '' in that case #}
{% if user.person is defined %}
    {% set userRole = user.role|lower %}
{% elseif user.intendedRole is defined %}
    {% set userRole = user.intendedRole|lower %}
{% else %}
    {% set userRole = 'member' %}
{% endif %}
{% if user is defined %}
    {% set url = path('team_change_role', {'memberId': user.id, 'newRole': 'stand-in' }) %}
{% endif %}

<div class="no-margin-bottom" tabindex="0" {% if url is defined %} data-url="{{ url }}"{% endif %}>
            <span class="pull-left role__admin {% if userRole != 'admin' %}hidden{% endif %}">
                <i class="fa fa-star fa-fw" aria-hidden="true"></i>
                {{ 'teams.management.table.role.admin'|trans }}
            </span>
            <span class="pull-left role__owner {% if userRole != 'owner' %}hidden{% endif %}">
                <i class="fa fa-universal-access fa-fw" aria-hidden="true"></i>
                {{ 'teams.management.table.role.owner'|trans }}
            </span>
            <span class="pull-left role__manager {% if userRole != 'manager' %}hidden{% endif %}">
                <i class="fa fa-black-tie fa-fw" aria-hidden="true"></i>
                {{ 'teams.management.table.role.manager'|trans }}
            </span>
            <span class="pull-left role__member {% if userRole != 'member' %}hidden{% endif %}">
                <i class="fa fa-user fa-fw" aria-hidden="true"></i>
                {{ 'teams.management.table.role.member'|trans }}
            </span>
    <i class="fa fa-spinner fa-spin loading"></i>
    <i class="fa fa-caret-down" aria-hidden="true"></i>
    <ul tabindex="0">
        <li class="teams__actionItem">
            <a href="#" class="teams__changeMemberRole" data-role="admin">
                <i class="fa fa-star fa-fw" aria-hidden="true"></i>
                {{ 'teams.management.table.role.admin'|trans }}
            </a>
        </li>
        <li class="teams__actionItem">
            <a href="#" class="teams__changeMemberRole" data-role="owner">
                <i class="fa fa-universal-access fa-fw" aria-hidden="true"></i>
                {{ 'teams.management.table.role.owner'|trans }}
            </a>
        </li>
        <li class="teams__actionItem">
            <a href="#" class="teams__changeMemberRole" data-role="manager">
                <i class="fa fa-black-tie fa-fw" aria-hidden="true"></i>
                {{ 'teams.management.table.role.manager'|trans }}
            </a>
        </li>

        <li class="teams__actionItem">
            <a href="#" class="teams__changeMemberRole" data-role="member">
                <i class="fa fa-user fa-fw" aria-hidden="true"></i>
                {{ 'teams.management.table.role.member'|trans }}
            </a>
        </li>
    </ul>
</div>
<div class="loading fa fa-spinner fa-spin"></div>
